.title {
  font-size: 70px !important;
  color: black !important;
}

.quarto-title-author-name {
  font-size: 100px;
  color: black !important;
}

.date {
  font-size: 25px;
  color: black !important;
}
.quarto-title-author-name {
  font-size: 25px;
  color: black !important;
}

}
.subtitle {
  font-size: 12px;
  color: red;
}