.title {
  font-size: 70px !important;
  color: black !important;
}

.date {
  font-size: 25px;
  color: black !important;
}
.quarto-title-author-name {
  font-size: 25px;
  color: black !important;
}

